body {
    margin:0;
}
hr {
    display:block;
    border:0.5px solid black;
    padding:0;
    color:black;
    min-width: 90%;
}

.container {
    display:grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: #0ea5e9;
    color:white;
    grid-row: 1/4;
    grid-column:1/1;

    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
    padding:30px 0 0 40px;
}
.settings {
    margin-top:50px;
}

.header {
    box-shadow:0 2px 3px black;
    grid-column: 2/4;

    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.search {
    display:flex;
    justify-content:center;
}
.searchbar {
    background-color:lightgray;
    min-height:25px;
    max-height:25px;
    width:max(200px,60%);
    border-radius:5px;
    grid-row:1/2;
    grid-column: 1/2;
    justify-self:center;
    align-self:center;
}
.profile {
    grid-row:1/2;
    grid-column:2/3;
}
.welcome {
    grid-row:2/3;
    grid-column:1/2;
    line-height:10px;

    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.buttons {
    grid-row:2/3;
    grid-column:2/3;
    display:flex;
    justify-content:space-evenly;
    align-items:flex-start;

}

button {
    background-color:#155e75;
    max-height:50px;
    border-radius:5px;
}

.dashboard-content {
    background-color:lightgray;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:15px;
}

.projects {
    grid-column: 1/2;
    padding:25px;
}
.projects-container {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto-fit,1fr);
    gap:25px;
}

.projects-container .card {
    background-color:white;
    padding:25px;
    border-radius: 10px;

    align-self:center;
}

.title {
    font-weight:bold;
}

.announcements {
    grid-column:2/3;
    margin:25px;
    margin-right:50px;
    
}
.announcement-container {
    display:grid;
    grid-template-rows: repeat(auto-fit,1fr);
    background-color: white;
    padding:25px;
    border-radius:10px;
    
}
.announcement-container .card {
    padding:15px;
}

.trending {
    grid-column:2/3;
    padding:25px;
}
.trending-container {

    background-color:white;
    border-radius: 10px;
    display:grid;
    grid-template-rows:repeat(autofit,1fr);
}